[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
	ignore = dirty
[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/PerlMint/glew-cmake.git
	ignore = dirty
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://github.com/RLovelett/eigen.git
[submodule "lib/pngzlib"]
	path = lib/pngzlib
	url = https://github.com/awstanley/deps-zlib-libpng.git
